.ArchivedNetlabels {
  .netlabels {
    display: flex;
    flex-wrap: wrap;

    ul {
      background-color: #720eb1;
      margin: 0 1rem 1rem 0;
      padding: 1rem;
      flex: 1 40%;
      color: #fff;

      @media (min-width: 37.5rem) {
        flex: 1 20%;
      }

      a {
        color: #fff;
      }

      li {
        list-style: none;
      }

      h3 {
        margin-top: 0;
      }
    }
  }
}
