.CharacterList {
  width: 100%;
  padding: 0 1rem 1rem 0;

  @media (min-width: 37.5rem) {
    width: 47%;
  }

  @media (min-width: 75rem) {
    width: 32%;
  }

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;
  }

  a {
    display: inline-block;
    padding: .35rem 0;
  }
}
