.Footer {
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;

    &, a {
      color: #555;
    }

    .github {
      margin-top: 1rem;
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
    }
}
