.NetlabelUrls {
  width: 100%;
  padding: 0;
  
  li {
    width: 100%;
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    line-height: 2;

    @media (min-width: 48rem) {
      line-height: 1.6;
    }
  }
}
