.NetlabelUrls {
  width: 100%;
  padding: 0;
  
  li {
    width: 100%;
    list-style: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a {
    display: inline-block;
    padding: .4rem 0;

    @media (min-width: 48rem) {
      padding: 0;
    }
  }
}
