.NetlabelFilter {
  display: inline-block;
  background-color: #f3f3f3;
  margin: 0;
  padding: 1rem;

  li {
    list-style: none;
    display: inline-block;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    padding: 0.5rem;
    border: none;
    margin-top: 1rem;
    min-width: 11.53125rem;
    min-height: 1.149875rem;

    @media (min-width: 37.5rem) {
      margin-top: 1rem;
    }
  }
}
