@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,400&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0 0 3rem 0;
}

#__next {
  width: 100vw;
  min-height: 100vh;
}

a {
  color: #555;

  &:hover,
  &:active,
  &:focus {
    color: #000;
  }
}

h1 {
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.icon-link {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  margin-right: .5rem;
  color: rgb(114,14,177);
}
